@font-face {
    font-family: 'Montreal';
    src: url('../fonts/Montreal-Bold.eot');
    src: url('../fonts/Montreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montreal-Bold.woff2') format('woff2'), url('../fonts/Montreal-Bold.woff') format('woff'),
        url('../fonts/Montreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montreal';
    src: url('../fonts/Montreal-Regular.eot');
    src: url('../fonts/Montreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montreal-Regular.woff2') format('woff2'), url('../fonts/Montreal-Regular.woff') format('woff'),
        url('../fonts/Montreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: theme('colors.gradient.start'); /* fallback for old browsers */
    background: linear-gradient(
        to right,
        theme('colors.gradient.start'),
        theme('colors.gradient.middle'),
        theme('colors.gradient.end')
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html {
    overflow-y: scroll;
    @apply gradient scrolling-touch;
}
.nav-bar {
    @apply fixed w-full z-30 overflow-hidden text-white;
    margin-right: calc(100vw - 100%);
    .nav-inner {
        @apply w-full mx-auto flex flex-wrap items-center justify-between mt-0 py-2;
        .nav-brand {
            @apply pl-4 flex items-center font-heading;
            > a {
                @apply no-underline text-2xl mt-1;
                svg {
                    .logo-fill-1 {
                        fill: theme('colors.alpha.90');
                    }
                    .logo-fill-2 {
                        fill: theme('colors.alpha.80');
                    }
                    .logo-fill-3 {
                        fill: theme('colors.alpha.70');
                    }
                }
                span {
                    @apply text-alpha-70;
                }
                strong {
                    @apply text-white;
                }

                @screen lg {
                    @apply text-4xl mt-0;
                }
                &:hover {
                    @apply no-underline;
                }
                > h1 {
                    @apply inline-block ml-4 uppercase;
                }
            }
        }
        .nav-toggle {
            @apply block pr-4;
            @screen lg {
                @apply hidden;
            }
            > button {
                @apply flex items-center px-3 py-2 border rounded text-gray-300 border-gray-400;

                > svg {
                    @apply h-8 fill-current inline;
                }
                &:hover {
                    @apply text-white border-white;
                }
            }
        }
        .nav-content {
            @apply w-full flex-grow text-white z-20 bg-gray-100 p-4 mt-2 hidden;
            transition: 0.8s linear max-height;

            @screen lg {
                @apply flex items-center w-auto bg-transparent p-0 mt-0;
            }
            > ul {
                @apply justify-end flex-1 items-center;
                @screen lg {
                    @apply flex;
                }
                > li {
                    @apply mr-3;
                    &.active {
                        > a {
                            @apply font-bold;
                        }
                    }
                    > a {
                        @apply inline-block py-2 px-4 text-white;
                        &:hover {
                            @apply underline;
                        }
                    }
                }
            }

            > button {
                @apply mx-auto font-bold rounded-full mt-4 py-4 px-8  shadow bg-alpha-80 text-gradient-start;
                @screen lg {
                    @apply mt-0 mr-4;
                }
                &:hover {
                    @apply underline bg-white;
                }
            }
        }
    }
    &.nav-bar--scrolling {
        @apply bg-white shadow-xl;

        .nav-inner {
            .nav-brand {
                > a {
                    svg {
                        .logo-fill-1 {
                            fill: theme('colors.gradient.start');
                        }
                        .logo-fill-2 {
                            fill: theme('colors.gradient.middle');
                        }
                        .logo-fill-3 {
                            fill: theme('colors.gradient.end');
                        }
                    }
                    span {
                        @apply text-gray-600;
                    }
                    strong {
                        @apply text-gray-800;
                    }
                }
            }
            .nav-content {
                button {
                    @apply gradient text-white;
                }
                > ul {
                    > li {
                        > a {
                            @apply text-gray-800;
                        }
                    }
                }
            }
        }
    }
    &.nav-bar--toggled {
        @apply bg-white shadow;
        .nav-inner {
            .nav-brand {
                > a {
                    @apply text-gray-600;
                    strong {
                        @apply text-gray-800;
                    }
                }
            }
            .nav-content {
                @apply flex;
            }
        }
        @screen lg {
            @apply bg-transparent shadow-none;
            .nav-inner {
                .nav-brand {
                    > a {
                        @apply text-white;
                    }
                }
            }
        }
    }
}

svg.logo {
    .logo-fill-1 {
        fill: theme('colors.gradient.start');
    }
    .logo-fill-2 {
        fill: theme('colors.gradient.middle');
    }
    .logo-fill-3 {
        fill: theme('colors.gradient.end');
    }
}
.form {
    @apply block w-full;
    .form-section {
        @apply flex flex-wrap flex-col -m-2;
        @screen md {
            @apply flex-row;
        }
        .form-item {
            @apply p-2;
        }
    }
    textarea,
    input[type] {
        @apply bg-alpha-20 border border-white rounded;
        transition: 0.1s linear background-color;
        &:focus {
            @apply bg-alpha-10 shadow-outline outline-none;
        }
        &:invalid {
            @apply outline-none shadow-none;
        }
    }
    &.validated {
        textarea,
        input[type] {
            &:invalid {
                @apply shadow-outline-invalid outline-none;
            }
        }
    }
}
